@charset "utf-8";
*{padding: 0;margin: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
img{border: none;}
span{
    display: inline-block;
    width: 60px;
    height: 20px;
    border: 1px solid red;
    margin: 10px;
}