@charset "utf-8";
*{padding: 0;margin:0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
img{border: none;}
.pic{
    position:relative;
    width: 658px;
    height:411px;
}
img{
    display: none;
    position: absolute;
    top: 0px;
    left:0px;
}
.show{
    display: block;
}