@charset "utf-8";
img{border:0;};
ol,ul{list-style:none;};
a{text-decoration: none;};
*{padding: 0;margin:0;}
li{list-style: none;}
.mbox{
    width: 400px;
    margin:10px auto;
}
textarea{
    display: block;
    width: 400px;
    height: 100px;
}
button{
    float: right;
    width: 60px;
    height:20px;
    border:1px solid black;
    margin-top: 20px;
}
ul{
    float: left;
    margin-top:20px;
    width:400px;
}
li{
    height: 20px;
    line-height: 20px;
    border:1px solid black;
    text-align: right;
    margin-bottom: 5px;
    overflow: hidden;
}